body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex:1;
}
@font-face {
    font-family: 'Cornerstone';
    src: url('../fonts/Cornerstone.woff2') format('woff2'), url('../fonts/Cornerstone.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#navbarData a {
    color: white;
}
#navbarData a:link {
    color: white;
}
#navbarData :hover{
    background: none;
    color:white;
}
.background-color {
    background-color: #212121;
}
.navbar-brand > a > span {
    color:white;
    font-size: 1.5rem;
    font-family: 'Cornerstone';
    font-weight: normal;
    font-style: normal;
}
.title{
    color:white !important;
    display: block;
    padding-bottom: 5px;
}
.subtitle{
    color:rgb(230,230,230);
    font-size:1.25rem;
}
a:hover {
    color: #3273FF
}
